.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.btnToggle {
    border: 1px solid blue;
    padding: 16px;
    background-color: red;
    font: inherit;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.btnToggle:hover {
    background-color: salmon;
    color: black;
}

.btnToggle.active {
    background-color: green;
}

.btnToggle.active:hover {
    background-color: lightgreen;
}
